/*-------- VARIABLES --------*/
:root {
    /* COLORS */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --greyish-blue: hsl(233, 8%, 79%);
    --dark-greyish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

/*-------- RESET --------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}


.container {
    background: var(--off-white);
}

.opacity-BG {
    transition: all .3s ease-in-out;
}
.opacity-BG.activeBG {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
}

/*------- BLOCKS / COMPONENTS -------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem .75rem;
}

/*------- ELEMENTS -------*/
/* no standalone meaning - semantically tied to the block */
/* does not represent structure, not header__nav__btn */

/*------- header -------*/
.header__logo {
    width: 2.81106rem;
    height: 1.75rem;
}

.header__nav {
    z-index: 1;
}

.header__btn {
    position: relative;
    z-index: 100;
    background: none;
    border: none;
}
.header__icon {
    width: 30px;
    height: 25px;
    /* 32, 31, 40, 17 */
}

.header__menu {
    background: var(--off-white);
    height: 100%;
    width: 100%;
    max-width: 250px;
    position: fixed;
    top: 0;
    right: -250px;

    padding: 6rem 1.5rem 0;
    transition: all .3s ease-in-out;
}
.header__menu.active {
    right: 0;
}

.header__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}

/*------- MODIFIERS -------*/
/* incremental style changes */
/* ex: header__btn--border-lg */

/*------- header -------*/

/* modifier or element? */
.header__icon--close.hide {
    display: none;
}
.header__icon--ham.hide {
    display: none;
}

.header__anchor--dark {
    color: var(--very-dark-blue);
}




/*------- media queries -------*/

/* 768px = 48rem */
@media (width >= 48rem) {

    .opacity.activeBG {
        background: none;
        width: auto;
        height: auto;
        position: static;
    }

    /*------- header -------*/
    .header__btn {
        display: none;
    }
    .header__menu {
        height: auto;
        width: auto;
        max-width: 100%;
        position: static;
        padding: 1.5rem;
        transition: none;
    }
    .header__list {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

}