/*-------- VARIABLES --------*/
:root {
    /* COLORS */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --greyish-blue: hsl(233, 8%, 79%);
    --dark-greyish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

/*-------- FONTS --------*/
@font-face {
    font-family: 'inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/*-------- RESET --------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--off-white);
    font-family: 'inter', sans-serif;
}
img,
picture {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    font: inherit;
    cursor: pointer;
}


.container {
    padding: 1.25rem .75rem;
}

.overlay {
    transition: all .3s ease-in-out;
}
.overlay.overlayActive {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
}



/*------- BLOCKS / COMPONENTS -------*/

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .topnav__logo {
        width: 2.81106rem;
        height: 1.75rem;
    }
    .topnav__btn {
        background: none;
    }
    .topnav__menu {
        background: var(--off-white);
        width: 100%;
        max-width: 250px;
        position: fixed;
        inset: 0 0 0 auto;
        padding: 1.25rem 1.5rem;
    
        translate: 100vw 0;
        transition: translate 0.5s ease-in-out;
    
        @media (prefers-reduced-motion) {
            opacity: 1;
        }
    }
    @media (prefers-reduced-motion) {
        .header__menu {
            translate: 0;
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
    }
    .active {
        translate: 0;
    }
    
    .topnav__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
    }
    
    .topnav__anchor:hover {
        color: var(--soft-red);
    }
}



.btn {
    border: none;
}
.btn__close {
    display: block;
    margin-inline-start: auto;
    margin-block-end: 8rem;
}

.main {
    margin: 1.5rem 0 0 0;
}

.web {
    display: grid;
    gap: 1rem;

    .web__heading {
        color: var(--very-dark-blue);
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 2.5rem;
    }
    .web__btn {
        color: var(--very-dark-blue);
        background: var(--soft-red);
        width: 11.5625rem;
        height: 3rem;
        margin-block-start: 1rem;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.27344rem;
        text-transform: uppercase;
    }
    .web__btn:hover {
        color: var(--off-white);
        background: var(--very-dark-blue);
        transform: translateY(4px);
    }
}

.new {
    background: var(--very-dark-blue);
    display: grid;
    gap: 1.5rem;
    margin-block-start: 3.5rem;
    padding: 1.5rem 1rem;

    .new__heading {
        color: var(--soft-orange);
    }
    .new__sub-heading {
        color: var(--off-white);
    }
    .new__sub-heading:hover {
        color: var(--soft-orange);
    }
    .new__paragraph {
        color: var(--off-white);
        margin-block-start: .5rem;
    }
}

.tech {
    display: grid;
    gap: 1.5rem;
    margin-block-start: 3.5rem;

    .tech__article {
        display: flex;
        gap: 1.5rem;
    }
    .tech__img {
        max-width: 12.1875rem;
        max-height: 9rem;
    }
    .tech__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: .5rem;
    }
    .tech__heading {
        color: var(--soft-red);
    }
    .tech__sub-heading {
        color: var(--very-dark-blue);
    }
    .tech__sub-heading:hover {
        color: var(--soft-red);
    }
}

.paragraph {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.heading-two {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.heading-three {
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem; /* 120% */
}

/*------- ELEMENTS -------*/
/* no standalone meaning - semantically tied to the block */
/* does not represent structure, not topnav__nav__btn */



/*------- MODIFIERS -------*/
/* incremental style changes */
/* ex: topnav__btn--border-lg */


.topnav__anchor--dark {
    color: var(--very-dark-blue);
}

.paragraph--dark {
    color: var(--dark-greyish-blue);
}

.new__article--border {
    border-bottom: 1px solid var(--dark-greyish-blue);
    padding-bottom: 1.5rem;
}

.hover {
    transition: all .3s ease-in-out;
}

/*------- media queries -------*/

/* 768px = 48rem */

@media (width >= 48rem) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 2rem;
    }

    .overlay.overlayActive {
        background: none;
        width: auto;
        height: auto;
        position: static;
    }

    /*------- TOPNAV -------*/
    .topnav {
        max-width: 70rem;
        width: 100%;

        .topnav__logo {
            width: 4.00575rem;
            height: 2.49375rem;
        }
        .topnav__btn {
            display: none;
        }
        .topnav__menu {
            height: auto;
            width: auto;
            max-width: 100%;
            position: static;
            padding: 0;
            translate: 0;
            transition: none;
        }
        .topnav__list {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }
    

    /*------- MAIN -------*/

    .main {
        max-width: 70rem;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr .5fr; */
        grid-template-areas: 
        "web web new"
        "web web new"
        "tech tech tech"
        ;
        gap: 4rem 1.5rem;
    }

    /*------- WEB -------*/

    .web {
        gap: 2rem;
        grid-area: web;

        .web__flex {
            display: flex;
            gap: 1rem;

            .web__heading {
                flex-basis: 50%;
                font-size: 3.5rem;
                line-height: 3.5rem;
            }
            .web__info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-basis: 50%;
            }
        }
    }

    /*------- NEW -------*/

    .new {
        grid-area: new;
        margin-block-start: 0;

        .new__heading {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }

    /*------- TECH -------*/

    .tech {
        grid-area: tech;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-block-start: 0;

        .tech__article {
            display: grid;
            /* grid-template-columns: repeat(2, 1fr); */
            grid-template-columns: 100px 1fr;

            .tech__img {
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }
    }

}