/*-------- VARIABLES --------*/
:root {
    /* COLORS */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --greyish-blue: hsl(233, 8%, 79%);
    --dark-greyish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

/*-------- FONTS --------*/
@font-face {
    font-family: 'inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/*-------- RESET --------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--off-white);
    font-family: 'inter', sans-serif;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}


.container {
    padding: 1.25rem .75rem;
}

.overlay {
    transition: all .3s ease-in-out;
}
.overlay.overlayActive {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
}



/*------- BLOCKS / COMPONENTS -------*/

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.topnav__logo {
    width: 2.81106rem;
    height: 1.75rem;
}
.topnav__btn {
    background: none;
}
.topnav__menu {
    background: var(--off-white);
    width: 100%;
    max-width: 250px;
    position: fixed;
    inset: 0 0 0 auto;
    padding: 1.25rem 1.5rem;

    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;

    @media (prefers-reduced-motion) {
        opacity: 1;
    }
}
@media (prefers-reduced-motion) {
    .header__menu {
        translate: 0;
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }
}
.active {
    translate: 0;
}
.topnav__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.btn {
    border: none;
}
.btn__close {
    display: block;
    margin-inline-start: auto;
    margin-block-end: 8rem;
}

.main {
    margin: 1.5rem 0 0 0;
}

.web {
    display: grid;
    gap: 1rem;

    .web__heading {
        color: var(--very-dark-blue);
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 2.5rem;
    }
    .web__btn {
        color: var(--very-dark-blue);
        background: var(--soft-red);
        width: 11.5625rem;
        height: 3rem;
        margin-block-start: 1rem;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.27344rem;
        text-transform: uppercase;
    }
}

.paragraph {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.625rem;
}

/*------- ELEMENTS -------*/
/* no standalone meaning - semantically tied to the block */
/* does not represent structure, not topnav__nav__btn */



/*------- MODIFIERS -------*/
/* incremental style changes */
/* ex: topnav__btn--border-lg */

/*------- topnav -------*/

.topnav__anchor--dark {
    color: var(--very-dark-blue);
}

/*------- main -------*/

.paragraph--dark {
    color: var(--dark-greyish-blue);
}


/*------- media queries -------*/

/* 768px = 48rem */
@media (width >= 48rem) {

    .overlay.overlayActive {
        background: none;
        width: auto;
        height: auto;
        position: static;
    }

    /*------- topnav -------*/
    .topnav__btn {
        display: none;
    }
    .topnav__menu {
        height: auto;
        width: auto;
        max-width: 100%;
        position: static;
        padding: 1.5rem;
        translate: 0;
        transition: none;
    }
    .topnav__list {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

}